---
import RevealText from "@/components/shared/atoms/RevealText/RevealText.astro";

interface Props {
  id: string;
  subtitle: string;
  title: string;
}

const { id, subtitle, title } = Astro.props;
---

<section id={id} data-animate-section>
  <RevealText text={subtitle} as="span" class="subtitle" trigger={`reveal:section:${id}`} />
  <RevealText text={title} as="h2" animation="slide" trigger={`reveal:section:${id}`} />
  <slot />
</section>

<style>
  section {
    margin: var(--section-margin) 0;
  }

  section :global(.subtitle) {
    display: block;
    color: var(--accent-color);
    font-weight: 200;
    font-size: var(--subtitle-size);
    margin: 0;
  }
</style>
