---
import { Image } from "astro:assets";
import vertyImage from "@/assets/images/verty.webp";
import impacthorizonImage from "@/assets/images/impacthorizon.webp";
import opoImage from "@/assets/images/opo.png";
import ordoclicImage from "@/assets/images/ordoclic.png";
import cautioneoImage from "@/assets/images/cautioneo.png";
import Card from "./Card.astro";
import H3Tagged from "./H3Tagged.astro";
import Spotlight from "./Spotlight.astro";
---

<section id="experiences" data-animate-section>
  <span class="subtitle">Mes</span>
  <h2>Expériences</h2>
  <div class="grid" id="experiences-grid" data-spotlight>
    <Spotlight color="#f68dab" class="verty">
      <Card>
          <div class="title" slot="title">
            <H3Tagged title="Développeur backend" tag="Freelance" />
            <p>
              <a
                href="https://verty.eu/"
                rel="noreferrer nofollow noopener"
                target="_blank">Verty</a
              >
              <span class="dotted">Remote</span><span>2025 (2mois)</span>
            </p>
          </div>
          <p slot="description">
            Conception et développement d'une synchronisation entre Shopify et un
            site de vente externe via les APIs. Services en <string>Go</string> hébergés
            sur Scaleway, avec une architecture fiable et maintenable.
          </p>

          <Image loading="lazy" slot="marge" src={vertyImage} alt="verty" />
        </Card>
    </Spotlight>
    <Spotlight color="#f68dab" class="impacthorizon">
      <Card>
          <div class="title" slot="title">
            <H3Tagged title="Développeur frontend" tag="Freelance" />
            <p>
              <a
                href="https://impacthorizongroup.com/"
                rel="noreferrer nofollow noopener"
                target="_blank">Impact Horizon</a
              >
              <span class="dotted">Remote</span><span>2025 (2mois)</span>
            </p>
          </div>
          <p slot="description">
            Développement d'un système <strong>React</strong> de génération de sites
            <strong>data-driven</strong>, structuré pour les LLM. Architecture
            modulaire avec composants réutilisables (UI, logique, intégrations
            externes).
          </p>

          <Image
            loading="lazy"
            slot="marge"
            src={impacthorizonImage}
            alt="impacthorizon"
          />
        </Card>
    </Spotlight>
    <Spotlight color="#f68dab" class="opo">
      <Card>
          <div class="title" slot="title">
            <H3Tagged title="Lead Développeur fullstack" tag="CDI" />
            <p>
              <a
                href="https://oeilpouroeilcreations.fr"
                rel="noreferrer nofollow noopener"
                target="_blank">Oeil pour Oeil</a
              >
              <span class="dotted">Lille</span><span
                >2019-2022 (3 ans et 6 mois)</span
              >
            </p>
          </div>
          <p slot="description">
            Responsable du développement du catalogue des formations gamifiées et
            formations sur-mesure, de l'infrastructure et du parcours client. En
            collaboration étroite avec l'UX designer, le marketing ainsi que les
            clients.
          </p>

          <ul>
            <li>
              Développement d'application en <b>ReactJs</b>, <b>VueJs</b> et <b
                >Svelte</b
              >, responsive.
            </li>
            <li>
              Package <b>SCORM</b> pour le suivi des formations ou depuis un SaaS interne.
            </li>
            <li>
              Déploiement en CI/CD, test avec <b>Jest</b> et <b>Cypress</b>,
              monitoring avec <b>Sentry</b>.
            </li>
            <li>
              Architecture Backend <b>SOA</b>, services internes en <b>Go</b> et services
              externes (headlessCMS, CRM, ...).
            </li>
            <li>
              Api principalement en <b>REST</b> et <b>GraphQL</b> pour le headlessCMS.
            </li>
            <li>
              Site vitrine optimisé pour le référencement <b>SEO</b>, écrit en <b
                >Svelte</b
              >, SSG avec <b>ElderJs</b>.Mainteneur d'ElderJs.
            </li>
            <li>
              Framework de génération de formation (SSG), écrit en Rescript,
              architecture hexagonale, data-driven et framework agnostic.
            </li>
          </ul>
          <Image
            loading="lazy"
            slot="marge"
            src={opoImage}
            alt="oeilpouroeil"
          />
        </Card>
    </Spotlight><Spotlight color="#f68dab" class="ordoclic">
      <Card>
          <div class="title" slot="title">
            <H3Tagged title="Lead Développeur" tag="Freelance" />
            <p>
              <a
                href="https://ordoclic.fr"
                rel="noreferrer nofollow noopener"
                target="_blank">Ordoclic</a
              ><span class="dotted">Lille</span><span>2017-2018 (8 mois)</span>
            </p>
          </div>
          <p slot="description">
            Responsable du développement d'une imprimante virtuelle chez les
            professionnelles de santé afin de faciliter le passage aux ordonnances
            numériques.
          </p>
          <ul>
            <li>Application electron.js se comportant comme une imprimante</li>
            <li>Chiffrement d'ordonnance avec le protocole pkcs11</li>
            <li>Envois de document à travers une API</li>
          </ul>
          <Image
            loading="lazy"
            slot="marge"
            src={ordoclicImage}
            alt="ordoclic"
          />
        </Card>
    </Spotlight><Spotlight color="#f68dab" class="cautioneo">
      <Card>
          <div class="title" slot="title">
            <H3Tagged title="Développeur RubyOnRails" tag="Freelance" />
            <p>
              <a
                href="https://cautioneo.com"
                rel="noreferrer nofollow noopener"
                target="_blank">Cautioneo</a
              ><span class="dotted">Lille</span>
              <span>2018 (2 mois)</span>
            </p>
          </div>
          <p slot="description">Développement du Saas en RubyOnRails.</p>
          <ul>
            <li>Développement du parcours locataire</li>
            <li>Développement d'un CRM custom</li>
          </ul>
          <Image
            loading="lazy"
            slot="marge"
            src={cautioneoImage}
            alt="cautioneo"
          />
        </Card>
    </Spotlight>
  </div>
</section>

<script>
  import { spotlight } from "@/spotlight";

  const container = document.getElementById("experiences-grid");
  if (container) {
    spotlight(container);
  }
</script>

<style>
  :root {
    --experience-font-size: 16px;
  }

  #experiences {
    --accent-color: #f68dab;
    --secondary-accent-color: #f8c8d9;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(0, auto));
    grid-column-gap: 26px;
    grid-row-gap: 26px;
  }

  img {
    width: 51px;
    height: 51px;
  }

  .grid > :global(.verty) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .grid > :global(.impacthorizon) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .grid > :global(.opo) {
    grid-area: 1 / 2 / 3 / 3;
  }

  a {
    text-decoration: underline;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title p {
    margin: 0;
  }

  .title span,
  .title a {
    display: inline-block;
    font-size: var(--experience-font-size);
    font-weight: 400;
    color: rgba(143, 143, 151, 0.7);
  }

  .title .dotted:after,
  .title .dotted:before {
    content: "·";
    padding: 0 6px;
  }

  ul {
    list-style: initial;
    margin-left: 24px;
  }

  @media screen and (max-width: 1200px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 900px) {
    :root {
      --experience-font-size: 16px;
    }

    .title {
      gap: 2px;
    }
  }

  @media screen and (max-width: 600px) {
    :root {
      --experience-font-size: 14px;
    }
  }
  @media screen and (max-width: 460px) {
    img {
      display: none;
    }
  }
</style>
