---
import Spotlight from "./Spotlight.astro";

export interface Card {
  title: string;
  subtitle?: string;
  content: string;
  image: string;
}

interface Props {
  cards: Card[];
}

const { cards } = Astro.props;
---

<div
  class="simple-cards mx-auto grid gap-6 lg:grid-cols-3 lg:max-w-none group"
>
  {
    cards.map((card) => (
      <div class="card">
        <Spotlight>
          <div slot="image" class="head">
            <img src={card.image} alt={card.title} />
            <div class="head-text">
              <h3>{card.title}</h3>
              <span class="head-subtitle">{card.subtitle}</span>
            </div>
          </div>
          <div class="card" slot="content">
            <p class="content">{card.content}</p>
          </div>
        </Spotlight>
      </div>
    ))
  }
</div>

<style>
  :root {
    --simple-cards-font-size: 18px;
  }
  .simple-cards {
    gap: 36px;
  }

  .card {
    max-width: 500px;
  }
  img {
    height: 51px;
    width: 51px;
  }

  .head {
    display: flex;
    padding: 28px;
    gap: 16px;
  }

  .head-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 51px;
    width: 100%;
  }

  .head-subtitle {
    color: #8f8f97;
    font-size: var(--simple-cards-font-size);
  }

  .content {
    padding: 28px;
    padding-top: 0;
  }

  @media screen and (max-width: 1368px) {
    .card {
      max-width: unset;
    }
  }


  @media screen and (max-width: 900px) {
    :root {
      --simple-cards-font-size: 16px;
    }

    img,
    .head-text {
      height: 48px;
    }
  }

  @media screen and (max-width: 600px) {
    .content {
      margin-top: 8px;
    }
  }
</style>
