---
export interface Card {
  title: string;
  subtitle: string;
  content: string;
  image: string;
}

interface Props {
  cards: Card[];
}

const { cards } = Astro.props;
---

<div class="simple-cards">
  {
    cards.map((card) => (
      <div class="card">
        <div class="head">
          <img src={card.image} alt={card.title} />
          <div class="head-text">
            <h3>{card.title}</h3>
            <span class="head-subtitle">{card.subtitle}</span>
          </div>
        </div>
        <p class="content">{card.content}</p>
      </div>
    ))
  }
</div>

<style>
  :root {
    --simple-cards-font-size: 18px;
  }
  .simple-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px;
    width: 100%;
  }

  .card {
    max-width: 400px;
  }

  .head {
    display: flex;
    gap: 16px;
  }

  .head-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 64px;
  }

  .head-subtitle {
    color: #8f8f97;
    font-size: var(--simple-cards-font-size);
  }

  .content {
    margin-top: 36px;
  }

  @media screen and (max-width: 1368px) {
    .card {
      max-width: 45%;
    }
  }
  @media screen and (max-width: 960px) {
    .simple-cards {
      gap: 48px;
    }
    .card {
      max-width: unset;
    }
  }

  @media screen and (max-width: 900px) {
    :root {
      --simple-cards-font-size: 16px;
    }
    img, .head-text {
      height: 48px;
    }
  }
</style>
