---
import H3Tagged from "@/components/shared/atoms/H3Tagged.astro";
import Link from "@/components/shared/atoms/Link.astro";

type Props = {
  title: string;
  tag: string;
  href: string;
  label: string;
  location?: string;
  date?: string;
};

const { title, tag, href, label, location, date } = Astro.props;
---

<div class="card-title">
  <H3Tagged title={title} tag={tag} />
  <p>
    <Link href={href} text={label} />
    {location && <span class="dotted">{location}</span>}
    {date && <span>{date}</span>}
  </p>
</div>

<style>
  .card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }

  .card-title p {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .card-title span {
    display: inline-block;
    font-size: var(--card-title-font-size, 16px);
    font-weight: 400;
    color: rgba(143, 143, 151, 0.7);
  }

  .card-title .dotted:after,
  .card-title .dotted:before {
    content: "·";
    padding: 0 6px;
  }

  @media screen and (max-width: 900px) {
    .card-title {
      gap: 2px;
    }
  }
</style>
