---
import H3Tagged from "@/components/shared/atoms/H3Tagged.astro";
import Link from "@/components/shared/atoms/Link.astro";

type Props = {
  title: string;
  tag: string;
  href: string;
  label: string;
  location?: string;
  date?: string;
};

const { title, tag, href, label, location, date } = Astro.props;
---

<div class="card-title">
  <H3Tagged title={title} tag={tag} />
  <p>
    <Link href={href} text={label} small />
    {location && <span class="dotted">{location}</span>}
    {date && <span>{date}</span>}
  </p>
</div>

<style lang="scss">
  @use "@/styles/breakpoints" as *;

  .card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    --link-color: var(--text-muted);

    p {
      margin: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    span {
      display: inline-block;
      font-size: var(--font-size-xs);
      font-weight: 400;
      color: var(--text-muted);
    }

    .dotted {
      &::after,
      &::before {
        content: "·";
        padding: 0 6px;
      }
    }

    @include tablet {
      gap: 2px;
    }
  }
</style>
